* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.navigation {
    width: 100%;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;

}

.nav ul li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
    font-weight: bold;
    font-size: 11px;
}

.nav ul li:hover {
    width: 94px;
    border-bottom: 4px solid #08A6E4;
    padding: 20px;
    font-weight: bold;
    font-size: 11px;
}

.logo {
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0px;
    color: #08A6E4;
    opacity: 1;
    font-weight: light;
    font-size: 32px;
}

.opening {
    width: 100%;
    height: 100vh;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opening .img {
    width: 100%;
    height: 594px;
    background-image: url("../assets/Background.png");
    opacity: 1;
    background-repeat: no-repeat;
    background-size: contain;
}

.opening h1 {
    text-align: center;
    font: normal normal normal 49px/57px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 49px;
    padding-top: 80px;
}

.opening p {
    text-align: center;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 16px;
    padding: 5px 0;
}

.opening button {
    width: 440px;
    height: 67px;
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    opacity: 1;
    border: 0.1px solid white;
}

.opening button a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.stat-blocks {
    display: flex;
    justify-content: center;
}

.stat-blocks>div {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 63px;
    height: 63px;
    border-radius: 100%;

    position: relative;
}

.circle-1 {
    background: #FB3B64 0% 0% no-repeat padding-box;
}

.circle-1::before {
    content: url("../assets/Person.svg");
    position: absolute;
    left: 40px;
    top: 5px;
}

.circle-2 {
    background: #08A6E4 0% 0% no-repeat padding-box;
}

.circle-2::before {
    content: url("../assets/Eye.svg");
    position: absolute;
    left: 30px;
    top: 15px;
}

.circle-3 {
    background: #55DFB4 0% 0% no-repeat padding-box;
}

.circle-3::before {
    content: url("../assets/Catalog.svg");
    position: absolute;
    left: 40px;
    top: 5px;
}

.stat-blocks h3 {
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 5.96px;
    color: #000000;
    opacity: 1;
    font-size: 20px;
    padding: 15px;
}

.stat-blocks p {
    text-align: center;
    font: normal normal normal 16px/19px Raleway;
    letter-spacing: 0px;
    color: #A5A5A5;
    opacity: 1;
    font-size: 16px;
    line-height: 19px;
    padding: 15px;
}

.statistics h2 {
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 36px;
    padding: 30px 0;
}

.statistics {
    height: 450px;
}

.benefits {
    width: 100%;
    height: 1395px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ben-div1 {
    width: 1124px;
    height: 370px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ben-div2 {
    width: 1124px;
    height: 370px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    margin: 15px;
}

.ben-div3 {
    width: 1124px;
    height: 370px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pink-sq {
    position: relative;
    z-index: 5;
}
.pink-sq::before {
    content: "";
    position: absolute;
    width: 205px;
    height: 255px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #FB3B64 0% 0% no-repeat padding-box;
    border-radius: 41px;
    border-bottom-right-radius: 80px;
    right: 0;
    bottom: 10px;
    z-index: -1;
}

.pink-sq img {
    width: 386px;
    height: 219px;
    z-index: 6;
}

.ben-div1 h1 {
    font-size: 36px;
    text-align: left;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 5px 0;
}

.ben-div1 p {
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 16px;
    line-height: 22px;
    margin: 5px 0;
}

.benefit_one_hr {
    width: 328px;
    height: 0px;
    border: 4px solid #FB3B64;
    border-radius: 5px;
    opacity: 1;
    margin: 5px 0;
}

.ben-div1 .text {
    width: 500px;
}

.ben-div2 {
    display: flex;
    justify-content: space-between;
}

.blue img {
    width: 426px;
    height: 328px;
    opacity: 1;
}

.blue {
    position: relative;
    z-index: 5;
}

.blue::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 320px;
    background: #07ACE6 0% 0% no-repeat padding-box;
    border-radius: 100%;
    left: 0;
    bottom: 5px;
    z-index: -1;
}

.ben-div2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ben-div2 h1 {
    font-size: 36px;
    text-align: left;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 5px 0;
}

.ben-div2 p {
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 16px;
    line-height: 22px;
    margin: 5px 0;
}

.benefit_two_hr {
    width: 328px;
    height: 0px;
    border: 4px solid #07ACE6;
    border-radius: 5px;
    opacity: 1;
    margin: 5px 0;
}

.ben-div2 .text {
    width: 500px;
}

.text3 {
    width: 623px;
    height: 370px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
    padding-left: 50px;
    text-align: left;

}

.green {
    width: 440px;
    height: 370px;
    background: #55DFB4 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green img {
    width: 296px;
    height: 208px;
}


.text3 h1 {
    font-size: 36px;
    text-align: left;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 5px 0;
}

.text3 p {
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 16px;
    line-height: 22px;
    margin: 5px 0;
}

.benefit_three_hr {
    width: 328px;
    height: 0px;
    border: 4px solid #55DFB4;
    border-radius: 5px;
    opacity: 1;
    margin: 5px 0;
}
.pricing{
    height: 1126px;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.pricing h1{
    text-align: center;
font: normal normal normal 36px/42px Raleway;
letter-spacing: 0px;
color: #000000;
opacity: 1;
padding: 40px;
}
.aligndivs{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pricing-divs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
.red-div{
    width: 372px;
height: 461px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #FB3B64;
border-radius: 18px;
opacity: 1;
margin: 10px;
position: relative;
}
.red-div h1{
    font: normal normal 300 46px/2px Open Sans;
letter-spacing: 0px;
color: #FB3B64;
opacity: 1;
}
.red-div h3{
    font: normal normal bold 20px/1px Raleway;
    letter-spacing: 0px;
    color: #13253B;
    opacity: 1;
    margin: 15px;
    padding-top: 20px;
    text-align: center;
}
.red-div ul{
    text-align: center;
    font: normal normal normal 14px/41px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height: 45px;
    font-size: 14px;
}
.blue-div{
    width: 405px;
height: 500px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 5px 10px 27px #07ACE629;
border: 1px solid #07ACE6;
border-radius: 18px;
opacity: 1;
margin: 10px;
position: relative;
}
.blue-div h1{
    font: normal normal 300 46px/2px Open Sans;
letter-spacing: 0px;
color: #07ACE6;
opacity: 1;
}
.blue-div h3{
    font: normal normal bold 20px/1px Raleway;
    letter-spacing: 0px;
    color: #13253B;
    opacity: 1;
    margin: 15px;
    padding-top: 30px;
    text-align: center;
    font-size: 21px;
}
.blue-div ul{
    text-align: center;
    font: normal normal normal 14px/41px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height: 45px;
    font-size: 14px;
}
.green-div{
    width: 372px;
height: 461px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #55DFB4;
border-radius: 18px;
opacity: 1;
margin: 10px;
position: relative;
}
.green-div h1{
    font: normal normal 300 46px/2px Open Sans;
letter-spacing: 0px;
color: #55DFB4;
opacity: 1;
}
.green-div h3{
    font: normal normal bold 20px/1px Raleway;
    letter-spacing: 0px;
    color: #13253B;
    opacity: 1;
    margin: 15px;
    padding-top: 20px;
    text-align: center;
}
.green-div ul{
    text-align: center;
    font: normal normal normal 14px/41px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height: 45px;
    font-size: 14px;
}
.g::before{
    content: url("../assets/Ckechmark-1.svg");

}
.r::before{
    content: url("../assets/Close.svg");
}
.red-btn{
    width: 150px;
height: 50px;
background: #EB476E 0% 0% no-repeat padding-box;
border-radius: 23px;
opacity: 1;
border: 0.1px solid white;
color: white;
position: absolute;
top: 433px;
left: 110px;
}
.blue-btn{
    width: 165px;
height: 50px;
background: #07ACE6 0% 0% no-repeat padding-box;
box-shadow: 5px 10px 14px #07ACE629;
border-radius: 23px;
opacity: 1;
border: 0.1px solid white;
color: white;
position: absolute;
top: 473px;
left: 120px;
}
.green-btn{
    width: 150px;
height: 50px;
background: #55DFB4 0% 0% no-repeat padding-box;
border-radius: 23px;
opacity: 1;
border: 0.1px solid white;
color: white;
position: absolute;
top: 433px;
left: 110px;
}

.contactalign{
    width: 100%;
    margin-top: 100px;
}

.contact{
    width: 896px;
    height: 376px;
    opacity: 1;

    display: flex;
    margin: 0 auto;
}


.h1{
    text-align: left;
    font: normal normal normal 49px/57px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 49px;
}
.questions{
    margin-right: 60px;
    width: 50%;
}
.questions h3{
    text-align: left;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
padding: 15px 0;
}
.questions p{
    text-align: left;
font: normal normal 600 16px/22px Open Sans;
letter-spacing: 0px;
color: #A5A5A5;
opacity: 1;
padding: 20px 0;
}
.pjat{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.em{
    margin: 10px;
    margin-left: 0;
}

.ph{
    margin: 10px;
    margin-left: 0;
}

.form {
    width: 50% !important;
}

.form .label{
    text-align: left;
font: normal normal bold 11px/15px Open Sans;
letter-spacing: 3.28px;
color: #08A6E4;
opacity: 1;
}   
.form input{
    width: 440px;
    height: 43px;
    border: none;
    border-bottom: 1px solid #707070 ;
}


.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    cursor: pointer;
    display: flex;
    color: #707070;
    font: normal normal normal 12px/17px Open Sans;
    margin-top: 10px;
}

.checkbox span {
    height: 22px;
    flex-shrink: 0;
    flex-basis: 22px;
    cursor: pointer;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    opacity: 1;
    margin-right: 15px;
}


.checkbox input:checked+span {
    background-image: url("../assets/Checkmark.svg");
    background-position: center;
}
.send-right{
    display: flex;
    justify-content: end;
}
.send{
    width: 226px;
height: 57px;
background: #08A6E4 0% 0% no-repeat padding-box;
box-shadow: 5px 10px 14px #07ACE629;
border-radius: 35px;
opacity: 1;
color: white;
border: 0.1px solid white;
margin: 10px;
}
footer{
    width: 100%;
height: 89px;
background: #F7F7F7 0% 0% no-repeat padding-box;
box-shadow: 0px -5px 40px #00000029;
opacity: 1;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left h1{
    text-align: left;
font: normal normal 300 26px/30px Raleway;
letter-spacing: 0px;
color: #08A6E4;
opacity: 1;
font-size: 26px;
padding-top: 15px;
}
.left p{
text-align: left;
font: normal normal normal 11px/15px Open Sans;
letter-spacing: 0px;
color: #A5A5A5;
opacity: 1;
font-size: 11px;
padding-top: 15px;
}
.right{
align-self: flex-end;
}
.right img{
    padding: 0 5px;
}